<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RotatedViews.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RotatedViews.Properties.Settings>
            <setting name="defaultViewNameTemplate" serializeAs="String">
                <value>[&lt;INSTANCE&gt;]&lt;NAME&gt; about &lt;AXIS&gt; by &lt;ANGLE&gt;deg</value>
            </setting>
        </RotatedViews.Properties.Settings>
    </userSettings>
</configuration>